[Unit]
Description=Fetch Marlin data from email 

[Service]
Type=oneshot
# -m key to ignore lock file and run multiple instances of fdm simultaniously
ExecStart=/usr/bin/fdm -fm /home/root-gy/.marlin.conf fetch


[Install]
RequiredBy=marlin-decode.service